html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Chivo Mono', monospace;
    background-image: linear-gradient(rgb(3, 5, 14),rgba(3,5,14,1.2),rgba(3,5,14,0.9));
    
}

section {
    color: white
}

.bob {
    height: 100vh;
    font-size: 40px;
}

footer {
    text-align: center;
    height: 500px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}
ul.show{
    display: block;
}

li {
    text-decoration: none;
    
}

nav {
    display: flex;
    justify-content: space-between;
}

.unknown {
    margin-left: 110px;
    margin-bottom: 220px;
}

.button {
    background-color: #6b1042;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}
.button:hover{
    background-color: #008080;
    color: #d2b48c;
}
.button:active{
    background-color: #4169e1;
    color: #bc8f8f;
}

p {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
}

h1 {
    margin: 0;
}
h2{
    font-size: 50px;
}

.div-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
#logo{
    height: 40px;
    margin: 20px;
}
.svg{
    margin: 15px;
}
.svg1{
    margin: 15px;
}
.baz{
    display: flex;
    justify-content: space-around;
    text-decoration-line: none;
    padding: 60px;
    color: white;
   
}
.bar{
    display: flex;
    flex-direction: column;
    text-align: center;
   
    padding: 60px;
}

.project-container{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 150px;
    padding: 0;
}

.project{
    height: 250px;
    width: 250px;
    box-shadow: 2px 1px  14px ;
    color: white;
    
}

.project-container > li {
    display: block;
    flex:0, 0, auto; /* Default */
    list-style-type: none;
}

.bar h2{
    color: white;
}
.subtext{
    font-size: 15px;
    font-weight: 300;
}
.project-image{
    margin-top: 1em;
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.project-name{
    margin-top: .4em;
    margin-bottom: 1em;
}

.link1, .link2, .link3{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1000px){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
    nav{
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }
    #logo{
        display: none;
    }
    

}

.hamburger{
    display: none;
}


@media only screen  and (max-width: 800px){
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 40px;
        align-self: flex-end;
    }
    
    #projects{
        margin-top: 8em;
    }
    .project{
        margin-bottom: 8.5em;
    }
    .info{
        position: absolute;
        top: 80em;
    }
    ul{
        display: none;
        margin: 0px
    }}

.contact-me, .email{
    color: white;
}
.pic{
    border-radius: 150px;
}
.alpha:hover{
    font-size: large;
}